.header {
  z-index: 10;
  &.dark{
    background-color: rgb(13, 102, 52);
    color: white;
  }
  user-select: none;
  width: 100vw;
  height: 70px;
  background-color: rgb(255, 255, 255);
  color: rgb(103, 103, 103);
  display: flex;
  // align-items: center;
  .container_full{
    display: flex;
    align-items: center;
    width: 100vw;
    .titleName {
      margin: 0 auto;
      color: black;
    }
    .option_left{
      display: flex;
      gap: 0.5rem;
      padding-left: 0.5rem;
      a {
        font-size: large;
      }
      .choose {
        color: black
      }
    }
    .option_right{
      display: flex;
      gap: 0.5rem;
      padding-right: 0.5rem;
      width: fit-content;
      .humanIcon{
        position: relative;
        margin-left: auto;
        padding-right: 1rem;
        scale: 1.5;
      }
      .avatarMenu {
        text-align: center;
        color: black;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 1.25rem;
        right: 1rem;
        border: 1px solid rgb(170, 170, 170);
        border-radius: 0.3rem;
        background-color: white;
        li {
            cursor: pointer;
            color: black;
            height: 1.12rem;
            font-size: 11px;
            padding-left: 0.7rem;
            padding-right: 0.7rem;
            display: flex;
            line-height: 1.12rem;
            align-items: center;
            .text {
                margin-left: 0.4rem;
              }
              &:hover {
                background-color: rgb(244, 241, 241);
                color: rgb(74, 74, 237);
                border-radius: 0.3rem;
              }
            }
          }
    }
    .cartIconBtn{
      padding: 0 0.4cm 0 0.2cm;
      cursor: pointer;
      position: relative;
      .numbProduct{
        position: fixed;
        position: absolute;
        background-color: red;
        color: white;
        top: 10px;
        left: 0;
        border-radius: 50%;
        width: fit-content;
        height: fit-content;
        min-width: 0.9rem;
        padding: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
      }
    }
  }
}
