$mobile: 600px;
$tablet: 1024px; 

.header {
  position: fixed;
  z-index: 10;
  &.dark{
    background-color: rgb(61, 61, 61);
    color: white;
    .container_full{
      .titleName,.option_left{
        color: white;
        a{
          color: white;
        }
      }
    }
  }
  user-select: none;
  width: 100vw;
  height: 70px;
  background-color: rgb(255, 255, 255);
  color: rgb(103, 103, 103);
  display: flex;
  .container_full{
    display: flex;
    align-items: center;
    width: 100vw;
    position: relative;
    .titleName {
      text-align: center;
      width: 100%;
      color: black;
    }
    .option_left{
      display: flex;
      gap: 0.5rem;
      padding-left: 0.5rem;
      a {
        font-size: large;
      }
      .choose {
        font-weight: 600;
      }
    }
    .listIcon{
      display: none;
    }
    .option_right{
      display: flex;
      padding-right: 3.2rem;
      gap: 0.3rem;
      a{
        display: inline-block;
        min-width: fit-content;
      }
      .choose {
        font-weight: 600;
      }
    }
    .humanIcon{
      padding-right: 0.6rem;
      scale: 1.5;
    }
    .avatarMenu {
      top: 1.25rem;
      right: 0.6rem;
      display: flex;
      flex-direction: column;
      position: absolute;
      border: 1px solid rgb(170, 170, 170);
      border-radius: 0.3rem;
      width: 100px;
      background-color: white;
      li {
          cursor: pointer;
          color: black;
          height: 1.12rem;
          font-size: 11px;
          padding-left: 0.7rem;
          padding-right: 0.7rem;
          display: flex;
          line-height: 1.12rem;
          align-items: center;
          .text {
              margin-left: 0.4rem;
            }
            &:hover {
              background-color: rgb(244, 241, 241);
              color: rgb(74, 74, 237);
              border-radius: 0.3rem;
            }
          }
        }
    .cartIconBtn{
      padding: 0 0.4cm 0 0.2cm;
      cursor: pointer;
      position: relative;
      .numbProduct{
        position: fixed;
        position: absolute;
        background-color: red;
        color: white;
        top: 10px;
        left: 0;
        border-radius: 50%;
        width: fit-content;
        height: fit-content;
        min-width: 0.9rem;
        padding: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
      }
    }
  }
}

@keyframes slideIn {
  0% {
      transform: translateX(0rem);
  }
  100% {
      transform: translateX(10rem);
  }
}

@keyframes slideOut {
  0% {
      transform: translateX(10rem);
  }
  100% {
      transform: translateX(0);
  }
}


@media screen and (max-width: $tablet){
  .header{
    .container_full{
      .listIcon{
        display: flex;
        scale: 1.5;
        padding-left: 1rem;
          .menuBox{
            .closeIcon{
              cursor: pointer;
              position: absolute;
              right: 0.5rem;
              top: 0.5rem;
            }
            position: fixed;
            a,div{
              font-size: 0.8rem;
            }
            top: -1rem;
            left: -10rem;
            color: black;
            background-color: white;
            box-shadow: 1px 2px 20px 2px rgb(203, 203, 203);
            padding: 2rem 1rem;
            display: flex;
            height: 100vh;
            width: 10rem;
            flex-direction: column;
            gap: 0.5rem;
          }
          .active{
            animation: slideIn 0.4s ease-in-out forwards;
          }
          .inactive{
            animation: slideOut 0.4s ease-in-out forwards;
          }
      
      }
      .option_left,.option_right{
        display: none;
      }
    }
  }
}