.header {
  &.dark{
    background-color: rgb(13, 102, 52);
    color: white;
  }
  user-select: none;
  width: 100%;
  height: 70px;
  background-color: rgb(255, 255, 255);
  color: rgb(103, 103, 103);
  display: flex;
  align-items: center;
  .container_full{
    display: flex;
    align-items: center;
    width: 100%;
    .titleName {
      margin: 0 auto;
      color: black;
    }
    .option_left{
      display: flex;
      gap: 0.5rem;
      padding-left: 0.5rem;
      margin-left: 1rem;
      a {
        font-size: large;
      }
      .choose {
        color: black
      }
    }
    .option_right{
      display: flex;
      gap: 0.5rem;
      padding-right: 1rem;
      .humanIcon{
        position: relative;
        margin-left: auto;
        padding-right: 1rem;
        scale: 1.5;
      }
      .avatarMenu {
        color: black;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 1.25rem;
        right: 1rem;
        border: 1px solid rgb(170, 170, 170);
        border-radius: 0.3rem;
        background-color: white;
        li {
            cursor: pointer;
            color: black;
            height: 1.12rem;
            font-size: 11px;
            padding-left: 0.7rem;
            padding-right: 0.7rem;
            display: flex;
            line-height: 1.12rem;
            align-items: center;
            .text {
                margin-left: 0.4rem;
              }
              &:hover {
                background-color: rgb(244, 241, 241);
                color: rgb(74, 74, 237);
                border-radius: 0.3rem;
              }
            }
          }
        }
  }
}
