$mobile: 600px;
$tablet: 1024px; 

.container {
    &.dark{
        background-color: rgb(80, 80, 80);
        .containerContact{
            color: white;
            .containerForm{
                border-top: solid 1px rgb(255, 255, 255);
                .formItem{
                    label{
                        color: white;
                    }
                    input, textarea{
                        background-color: rgb(197, 197, 197);
                    }
                }
            }
        }
        
    }
    padding-top: 3rem;
    .containerBackground{
        width: 100vw;
        display: flex;
        img{
            object-fit: cover;
            height: 33rem;
            width: 50%;
        }
        .contentRight{
            width: 50%;
            background-color: rgb(244,244,244);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title{
                width: 17rem;
                font-size: 3rem;
                text-align: center;
            }
            .content{
                padding-top: 2rem;
                width: 25rem;
                color: rgb(152,156,161);
                text-align: center;
                font-size: 1.04rem;
            }
        }
    }
    .containerContact{
        margin-top: 2rem;
        .title{
            text-align: center;
            font-size: 2rem;
        }
        .containerForm{
            margin: 1rem 5rem;
            margin-bottom: 0;
            padding: 1rem 0;
           border-top: solid 1px rgb(152,156,161);
            .errField{
                box-shadow: 0 0 1rem 0.2rem rgb(233, 146, 146);
            }
            .formItem{
                padding: 0 20%;
                display: flex;
                flex-direction: column;
                label{
                    color: rgb(152,156,161);
                    padding: 0.5rem 0;
                }
                input{
                    height: 2rem;
                    border: solid 1px rgb(152,156,161);
                    padding: 0 0.7rem;
                }
                textarea{
                    padding: 0.5rem 0.7rem;
                    border: solid 1px rgb(152,156,161);
                    width: 100%;
                    resize: vertical;
                    min-height: 10rem;
                }
            }
            .submitBtn{
                margin-left: 20%;
                margin-top: 1rem;
                padding: 0.5rem 1rem;
                width: fit-content;
                border: 1px solid rgb(143, 142, 142);
                background-color: rgb(143, 142, 142);
                color: white;
                cursor: pointer;
                &.submitBtn:hover {
                    background-color: rgb(112, 112, 112);
                }
            }
        }
    }
}
 
@media screen and (max-width: $tablet) {
    .container{
        .containerBackground{
            .contentRight{
                .title{
                    font-size: 2rem;
                }
                .content{
                    width: 18rem;
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    .container{
        .containerBackground{
            .contentRight{
                .title{
                    font-size: 1.5rem;
                }
                .content{
                    width: 10rem;
                    font-size: 0.7rem;
                }
            }
        }
        .containerContact{
            .containerForm{
                margin: 1rem 3rem;
                .formItem{
                    padding: 0 5%;
                }
            }
        }
    }
}